<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ML API</title>
    <link href="https://fonts.googleapis.com/css?family=Pacifico", rel="stylesheet", type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Arimo", rel="stylesheet", type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Hind:300", rel="stylesheet", type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300", rel="stylesheet", type="text/css">
</head>
<body>
    <div class="login">
        <h1>Boston House Price Prediction</h1>
        <form action="{{ url_for('predict')}}"method="post">
            <input type="text" name="CRIM" title="Per capita crime rate by town" placeholder="CRIM", required="required"/><br>
            <input type="text" name="ZN" title="Proportion of residential land zoned for lots over 25000 sq.ft." placeholder="ZN", required="required"/><br>
            <input type="text" name="INDUS" title="Proportion of non-retail business acres per town" placeholder="INDUS", required="required"/><br>
            <input type="text" name="CHAS" title="Charles River dummy variable (1 if tract bounds river; 0 otherwise)" placeholder="CHAS", required="required"/><br>
            <input type="text" name="NOX" title="Nitric Oxide concentration (ppm)" placeholder="NOX", required="required"/><br>
            <input type="text" name="RM" title="Average Rooms per dwwelling" placeholder="RM", required="required"/><br>
            <input type="text" name="AGE" title="Proportion of owner occupied units built prior to 1940" placeholder="AGE", required="required"/><br>
            <input type="text" name="DIS" title="Weighted distance to five Boston employment centres" placeholder="DIS", required="required"/><br>
            <input type="text" name="RAD" title="Index of accessibility to radial highways" placeholder="RAD", required="required"/><br>
            <input type="text" name="TAX" title="Full-value property-tax rate per $10000" placeholder="TAX", required="required"/><br>
            <input type="text" name="PTRATIO" title="Pupil-Teacher Ratio by town" placeholder="PTRATIO", required="required"/><br>
            <input type="text" name="LSTAT" title="% Lower Status Proportion" placeholder="LSTAT", required="required"/><br><br>

            <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        </form>
        <br>
        <br>
    </div>
    {{prediction_text}}
</body>
</html>